@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

img {
  width: 100%;
}

.hover-shading:hover {
  background-color: #370b8f;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 0 24px;
}

section {
  padding: 0 32px;
}

h1 {
  font-size: 42px;
}

h2,
h3,
h4 {
  line-height: 1.5;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  margin: 16px 0;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(36, 62, 99);
  margin: 8px 0;
}

.section__tag {
  font-size: 18px;
  font-weight: 500;
  color: #6315ff;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.purple {
  color: #6315ff;
}

.btn {
  background-color: #6315ff;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 16px 24px;
  transition: all 300ms ease;
  cursor: pointer;
}

/*==========
NAV
==========*/

nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
  padding-bottom: 8px;
}

.nav__logo--img {
  width: 50px;
  height: 50px;
  padding: 0 16;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 8px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.nav__link {
  position: relative;
  font-weight: 700;
}

.nav__link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0%;
  bottom: -6px;
  height: 3px;
  background: #6315ff;
  transition: width 300ms ease;
}

.nav__link:hover::after {
  right: 0;
  width: 100%;
  left: 0;
}

.nav__link--primary {
  color: white;
  background-color: #6315ff;
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  line-height: 1.5;
  border: none;
  margin: 0;
  transition: background-color 300ms ease;
}

.no-underline::after {
  content: none;
}

/* ==========
HEADER 
========== */

header .row {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 40%;
}

.header__email {
  position: relative;
  display: flex;
  align-items: center;
}

.header__email--input {
  width: 100%;
  padding: 16px;
  border: 2px solid #b1adad;
  border-radius: 999999px;
}

.header__email--btn {
  position: absolute;
  right: 4px;
  border: none;
  border-radius: 999999px;
  background-color: #6315ff;
  color: white;
  font-weight: 700;
  padding: 12px 8px;
  transition: background-color 300ms ease;
}

.header__customers--title {
  padding-top: 40px;
  color: #b1adad;
}

.header__customers {
  width: 100%;
  color: #b1adad;
}

.header__img--wrapper {
  display: flex;
  justify-content: center;
  flex: 0 0 60%;
}

.header__img {
  width: 100%;
  max-width: 768px;
}

/* ==========
FEATURES
========== */

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;
}

.feature__img--wrapper {
  display: flex;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

/* ==========
QUALITY
========== */

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.quality__description,
.quality__img--wrapper {
  flex: 0 0 50%;
  max-width: 576px
}

.quality__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px
}

.quality__img--wrapper {
  position: relative;
  border: 1px solid #7c8ba1;
  border-radius: 8px;
  z-index: 2;
  display: flex;
}

.quality__img {
  max-width: 580px;
  z-index: 1;
  border: none;
  border-radius: 8px;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

#quality .btn {
  width: 25%;
}
