@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 0 32px;
}
/*==========
NAV
==========*/

nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  padding-bottom: 8px;
}

.nav__logo--img {
  width: 50px;
  height: 50px;
  padding: 0 16;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 8px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.nav__link {
  position: relative;
  font-weight: 700;
}

.nav__link::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0%;
  bottom: -6px;
  height: 3px;
  background: #6315ff;
  transition: width 300ms ease;
}

.nav__link:hover::after {
  right: 0;
  width: 100%;
  left: 0;
}

.nav__link--primary {
  color: white;
  background-color: #6415ff;
  padding: 8px 16px;
  border-radius: 50px;
  line-height: 1.5;
  border: none;
  margin: 0;
  transition: all 300ms ease;
}

.no-underline::after {
  content: none;
}